<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sockets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top: 70px;">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <div id="chatArea">
                </div>
                <form id="myForm">
                    <div class="form-group">
                        <textarea rows="5" id="txt" cols="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <script>
        $(document).ready(function() {
           var socket = io.connect();
           var form = $('#myForm');
           var txt = $('#txt');
           var chatArea = $('#chatArea');
  
           form.submit(function(e) {
              e.preventDefault();
              socket.emit('sending message', txt.val());
              txt.val('');
           });
  
           socket.on('new message', function(data){
               console.log('data', data)
              chatArea.append('<div class="well">'+data.message+'</div>');
           });
        });
     </script>
</body>

</html>